In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import requests
from bs4 import BeautifulSoup
from urllib.parse import urlparse, parse_qs

In [39]:
URL = "https://finance.naver.com/sise/sise_market_sum.naver?&page=1"

In [40]:
response = requests.get(URL)

▶️ BeautifulSoup으로 파싱

In [8]:
df = pd.read_csv('2020_1분기보고서_01_재무상태표_연결_20211104.txt', sep = '\t', encoding='euc-kr')
column_names = ['종목코드', '회사명', '업종', '업종명', '항목명', '당기 1분기말']
df = df[column_names]
df.head()

       종목코드 회사명   업종            업종명                항목명         당기 1분기말
0  [060310]  3S  292  특수 목적용 기계 제조업      자산 [abstract]             NaN
1  [060310]  3S  292  특수 목적용 기계 제조업               유동자산  15,466,570,449
2  [060310]  3S  292  특수 목적용 기계 제조업           현금및현금성자산   4,973,422,676
3  [060310]  3S  292  특수 목적용 기계 제조업             단기금융상품      61,396,650
4  [060310]  3S  292  특수 목적용 기계 제조업        매출채권 및 기타채권   3,311,932,854

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80829 entries, 0 to 80828
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   종목코드     80829 non-null  object
 1   회사명      80829 non-null  object
 2   업종       80829 non-null  int64
 3   업종명      80829 non-null  object
 4   항목명      80829 non-null  object
 5   당기 1분기말  74495 non-null  object
dtypes: int64(1), object(5)
memory usage: 3.7+ MB

In [10]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74495 entries, 1 to 80828
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   종목코드     74495 non-null  object
 1   회사명      74495 non-null  object
 2   업종       74495 non-null  int64
 3   업종명      74495 non-null  object
 4   항목명      74495 non-null  object
 5   당기 1분기말  74495 non-null  object
dtypes: int64(1), object(5)
memory usage: 4.0+ MB

In [11]:
df['종목코드'] = df['종목코드'].apply(lambda x : x.replace('[', ''))
df['종목코드'] = df['종목코드'].apply(lambda x : str(x.replace(']', '')))
df['항목명'] = df['항목명'].apply(lambda x : x.strip())
df['항목명'] = df['항목명'].str.replace('[^가-힣 ]', '')
df['항목명'] = df['항목명'].str.replace('이익잉여금결손금', '이익잉여금')
df['항목명'] = df['항목명'].str.replace('당기말', '자본총계')
df['당기 1분기말'] = df['당기 1분기말'].apply(lambda x : int(x.replace(',', '')))

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74495 entries, 1 to 80828
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   종목코드     74495 non-null  object
 1   회사명      74495 non-null  object
 2   업종       74495 non-null  int64
 3   업종명      74495 non-null  object
 4   항목명      74495 non-null  object
 5   당기 1분기말  74495 non-null  int64
dtypes: int64(2), object(4)
memory usage: 4.0+ MB

In [12]:
df['항목명'] = df['항목명'].str.replace('결손금', '이익잉여금')

In [13]:
df.head(10)

      종목코드 회사명   업종            업종명          항목명      당기 1분기말
1   060310  3S  292  특수 목적용 기계 제조업         유동자산  15466570449
2   060310  3S  292  특수 목적용 기계 제조업     현금및현금성자산   4973422676
3   060310  3S  292  특수 목적용 기계 제조업       단기금융상품     61396650
4   060310  3S  292  특수 목적용 기계 제조업  매출채권 및 기타채권   3311932854
5   060310  3S  292  특수 목적용 기계 제조업         재고자산   3078852402
6   060310  3S  292  특수 목적용 기계 제조업       선급공사원가   3634869221
7   060310  3S  292  특수 목적용 기계 제조업      당기법인세자산     12931226
8   060310  3S  292  특수 목적용 기계 제조업       기타유동자산    393165420
9   060310  3S  292  특수 목적용 기계 제조업    매각예정비유동자산            0
10  060310  3S  292  특수 목적용 기계 제조업        비유동자산  33376189495

In [14]:
df.shape

(74495, 6)

In [15]:
df['종목코드'].nunique()

1701

In [16]:
df = df[df['항목명'].isin(['유동자산', '재고자산', '자산총계', '유동부채', '부채총계', '자본금', '이익잉여금', '자본총계'])]

In [17]:
 df['회사명'].isin(['3S'])

1         True
5         True
20        True
22        True
35        True
         ...
80805    False
80818    False
80821    False
80825    False
80827    False
Name: 회사명, Length: 13384, dtype: bool

In [30]:
!pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9

In [ ]:
# comp_list = ['3S', '삼성전자']
# for comp in comp_list:
#     if df['회사명'].isin([comp]) = True:
#     print(i)
        
# return df2 = df[df['회사명'].isin(['comp'])]

In [46]:
company_name_df2 = pd.read_csv('/Users/kimhansaem/workspace/11.DataAnalysis/01.데이터분석/data/시총100.txt', sep='\s+', header=None,
                                names=['column_index', 'column_name'])

In [48]:
company_names2 = company_name_df2['column_index'].values.tolist()
print(company_names2[:20])

['삼성전자', 'LG에너지솔루션', 'SK하이닉스', '삼성전자우', 'NAVER', '삼성바이오로직스', '카카오', 'LG화학', '삼성SDI', '현대차', '기아', 'POSCO', 'KB금융', '카카오뱅크', '셀트리온', '현대모비스', '삼성물산', 'LG전자', '카카오페이', '신한지주']

In [49]:
df_sample_re = df[df['회사명'].isin(company_names2)]
df_sample_re.head(3)

       종목코드     회사명   업종        업종명   항목명         당기 1분기말
639  097950  CJ제일제당  107  기타 식품 제조업  유동자산   7980820347000
646  097950  CJ제일제당  107  기타 식품 제조업  재고자산   2174686813000
660  097950  CJ제일제당  107  기타 식품 제조업  자산총계  26752549924000

In [50]:
df_sample_re.to_excel('2020_1_시총100.xlsx')

In [51]:
df_sample_re.nunique()

종목코드        59
회사명         59
업종          36
업종명         36
항목명          8
당기 1분기말    457
dtype: int64